@keyframes x {
  from {
    @include transform(translateX(0) translateY(0) translateZ(0) rotateX(120deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1));
  }
  to {
    @include transform(translateX(0) translateY(0) translateZ(0) rotateX(-120deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1));
  }
}
@keyframes z {
  from {
    @include transform(translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1));
  }
  to {
    @include transform(translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(360deg) scaleX(1) scaleY(1) scaleZ(1));
  }
}

@keyframes y {
  from {
    @include transform(translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1));
  }
  to {
    @include transform(translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(360deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1));
  }
}
@-webkit-keyframes x {
  from {
    @include transform(translateX(0) translateY(0) translateZ(0) rotateX(120deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1));
  }
  to {
    @include transform(translateX(0) translateY(0) translateZ(0) rotateX(-120deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1));
  }
}
@-webkit-keyframes z {
  from {
    @include transform(translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1));
  }
  to {
    @include transform(translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(360deg) scaleX(1) scaleY(1) scaleZ(1));
  }
}

@-webkit-keyframes y {
  from {
    @include transform(translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1));
  }
  to {
    @include transform(translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(360deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1));
  }
}

#bg0 {
  width: 100%;
  height: 100%;
  display: block;
  text-align: center;
  overflow: hidden;
  @include transition(All 1s 0s);
  @include bg-gradient(0deg, #395ecb 0%, #3657be 35%, #242161 75%, #1a0531 100%);

  .page0_round {
    width: 679px;
    height: 679px;
    @include transition(All 1s 0s);
    @include animation(x 45s linear 0s infinite);
    @include perspective(3000px);
    @include transform(translateX(0) translateY(100px) translateZ(-20px) rotateX(-110deg) rotateY(-6deg) rotateZ(0deg) scaleX(2.6) scaleY(1) scaleZ(1));

    img {
      @include transform-style(preserve-3d);
      @include animation(z 5s linear 0s infinite);
    }
  }
}
#bg1 {
  width: 100%;
  height: 100%;
  display: block;
  text-align: center;
  @include transition(All 1.6s 0s !important);
  @include bg-gradient(0deg, #41b93e 0%, #3b9e3c 35%, #274535 75%, #190530 100%);

  .glow {
    width: 100%;
    height:100%;
    margin-left: 450px;
    @include transform-style(preserve-3d);
    @include transition(All 1.6s 0s !important);
    @include transform(translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(-50deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1));

    img {
      border: none!important;
      @include transform-style(preserve-3d);
    }
  }
  .main {
    position: absolute;
    width: 350px;
    height: 350px;
    left: 50%;
    top: 50%;
    margin-left: -175px;
    margin-top: -175px;
    @include transform-style(preserve-3d);
    @include transition(All 1s 0s);

    ul {
      position: absolute;
      width: 350px;
      height: 350px;
      left: 50%;
      top: 50%;
      margin-left: -175px;
      margin-top: -175px;
      @include transform-style(preserve-3d);
      @include transition(All 1s 0s);

      li {
        position: absolute;
        width: 350px;
        height: 350px;
        left: 50%;
        top: 50%;
        margin-left: -175px;
        margin-top: -175px;
        @include transition(All 0.8s 0s);

        &:nth-of-type(1) {
          @include transform(translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(50deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1));

          img {
            position: absolute;
            width: 350px;
            height: 350px;
            left: 50%;
            top: 50%;
            margin-left: -175px;
            margin-top: -175px;
            @include transform-style(preserve-3d);
          }
        }
        &:nth-of-type(2) {
          @include transform(translateX(120px) translateY(0) translateZ(0) rotateX(0deg) rotateY(50deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1));

          img {
            position: absolute;
            width: 350px;
            height: 350px;
            left: 50%;
            top: 50%;
            margin-left: -175px;
            margin-top: -175px;
            @include animation(z 2s linear 0s infinite);
          }
        }
        &:nth-of-type(3) {
          @include transform(translateX(270px) translateY(0) translateZ(0) rotateX(0deg) rotateY(50deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1));

          img {
            position: absolute;
            width: 350px;
            height: 350px;
            left: 50%;
            top: 50%;
            margin-left: -175px;
            margin-top: -175px;
            @include animation(z 1s linear 0s infinite);
          }
        }
        &:nth-of-type(4) {
          @include transform(translateX(480px) translateY(0) translateZ(0) rotateX(0deg) rotateY(50deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1));

          img {
            position: absolute;
            width: 350px;
            height: 350px;
            left: 50%;
            top: 50%;
            margin-left: -175px;
            margin-top: -175px;
            @include animation(z 3s linear 0s infinite);
          }
        }
      }
    }
  }

  #track {
    position: absolute;
    width: 6000px;
    height: 1px;
    left: 50%;
    top: 50%;
    margin-left: -3000px;
    margin-top: -0.5px;
    background: #f6ff00;
    @include transform-style(preserve-3d);
    @include transition(All 0.6s 0s);
    @include transform(translateX(-1000px) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1));

    #line1 {
      position: absolute;
      width: 346px;
      height: 123px;
      left: 50%;
      top: 50%;
      margin-left: -173px;
      margin-top: -61.5px;
      @include transform-style(preserve-3d);
      @include transition(All 0.8s 0s);
      @include transform(translateX(1300px) translateY(0) translateZ(30px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1));
    }
  }
}
