
// Colors

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;

// Base

$font-family-sans-serif:          "Helvetica Neue", Helvetica, "Roboto", "Segoe UI", Arial, sans-serif !default;
$font-family-serif:               serif !default;

// Content

// Buttons

// Bars

// Tabs
