#bg0 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  @include transform-style(preserve-3d);
  @include transition(All 0s 0s);
  @include transform(translateX(0) translateY(0) translateZ(-1000px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1));

  #bgg0 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    @include transform-style(preserve-3d);
    @include transition(All 0s 0s);
    @include bg-gradient(0deg, #395ecb 0%, #3657be 35%, #242161 75%, #1a0531 100%);
  }
}

#stage0 {
  position: absolute;
  width: 900px;
  height: 600px;
  display: block;
  left: 50%;
  top: 50%;
  margin-left: -450px;
  margin-top: -300px;
  @include transform-style(preserve-3d);
  @include perspective(1000px);

  #page0 {
    position: absolute;
    width: 900px;
    height: 600px;
    left: 50%;
    top: 50%;
    margin-left: -450px;
    margin-top: -300px;
    @include transform-style(preserve-3d);
    @include transition(All 1s 0s);

    .main {
      position: absolute;
      width: 577px;
      height: 359px;
      left: 50%;
      top: 50%;
      margin-left: -288.5px;
      margin-top: -199.5px;
      @include transform-style(preserve-3d);
      @include transition(All 1s 0s);

      #page0_glow {
        position: absolute;
        left: 50%;
        margin-top: -200px;
        margin-left: -1170px;
        border: none;
        @include transform-style(preserve-3d);
        @include transform(translateX(0) translateY(0) translateZ(-100px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1));

      }

      ul {
        position: absolute;
        width: 577px;
        height: 359px;
        left: 50%;
        top: 50%;
        margin-left: -288.5px;
        margin-top: -159.5px;
        @include transform-style(preserve-3d);
        @include transition(All 1s 0s);
        @include perspective(3000px);
        @include animation(y 45s linear 0s infinite);

        li {
          position: absolute;
          width: 577px;
          height: 359px;
          left: 50%;
          top: 50%;
          margin-left: -288.5px;
          margin-top: -179.5px;
          @include transform-style(preserve-3d);
          @include transition(All 1s 0s);
          @include backface-visibility(hidden);

          img {
            @include transform-style(preserve-3d);
            border: none !important;
          }
          
          &:nth-of-type(1) {
            @include transform(translateX(0) translateY(0) translateZ(-60px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1));
          }
          &:nth-of-type(2) {
            @include transform(translateX(0) translateY(0) translateZ(-20px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1));
          }
          &:nth-of-type(3) {
            @include transform(translateX(0) translateY(0) translateZ(20px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1));
          }
          &:nth-of-type(4) {
            @include transform(translateX(0) translateY(0) translateZ(60px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1));
          }
          &:nth-of-type(5) {
            @include transform(translateX(0) translateY(0) translateZ(60px) rotateX(0deg) rotateY(180deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1));
          }
          &:nth-of-type(6) {
            @include transform(translateX(0) translateY(0) translateZ(20px) rotateX(0deg) rotateY(180deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1));
          }
          &:nth-of-type(7) {
            @include transform(translateX(0) translateY(0) translateZ(-20px) rotateX(0deg) rotateY(180deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1));
          }
          &:nth-of-type(8) {
            @include transform(translateX(0) translateY(0) translateZ(-60px) rotateX(0deg) rotateY(180deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1));
          }
        }
        div {
          position: absolute;
          width: 679px;
          height: 679px;
          left: 50%;
          top: 50%;
          margin-left: -339.5px;
          margin-top: -339.5px;
          @include transform-style(preserve-3d);
          @include transform(translateX(0) translateY(100px) translateZ(-20px) rotateX(-110deg) rotateY(-6deg) rotateZ(0deg) scaleX(2.6) scaleY(1) scaleZ(1));

          img {
            border: none !important;
            @include transform-style(preserve-3d);
            @include animation(z 5s linear 0s infinite);
          }
        }
      }
    }
  }
}

/*
#bg0 {
  width: 100%;
  height: 100%;
  display: block;
  text-align: center;
  overflow: hidden;
  @include transition(All 1s 0s);
  @include bg-gradient(0deg, #395ecb 0%, #3657be 35%, #242161 75%, #1a0531 100%);

  .page0_round {
    width: 679px;
    height: 679px;
    @include transition(All 1s 0s);
    @include animation(x 45s linear 0s infinite);
    @include perspective(3000px);
    @include transform(translateX(0) translateY(100px) translateZ(-20px) rotateX(-110deg) rotateY(-6deg) rotateZ(0deg) scaleX(2.6) scaleY(1) scaleZ(1));

    img {
      @include transform-style(preserve-3d);
      @include animation(z 5s linear 0s infinite);
    }
  }
}
#bg1 {
  width: 100%;
  height: 100%;
  display: block;
  text-align: center;
  @include transition(All 1.6s 0s !important);
  @include bg-gradient(0deg, #41b93e 0%, #3b9e3c 35%, #274535 75%, #190530 100%);

  .glow {
    width: 100%;
    height:100%;
    margin-top: 120px;
    margin-left: 300px;
    @include transform-style(preserve-3d);
    @include transition(All 1.6s 0s !important);
    @include transform(translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(-50deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1));

    img {
      border: none!important;
      @include transform-style(preserve-3d);
    }
  }
  .main {
    position: absolute;
    width: 350px;
    height: 350px;
    left: 50%;
    top: 50%;
    margin-left: -175px;
    margin-top: -175px;
    @include transform-style(preserve-3d);
    @include transition(All 1s 0s);

    ul {
      position: absolute;
      width: 350px;
      height: 350px;
      left: 50%;
      top: 50%;
      margin-left: -175px;
      margin-top: -175px;
      @include transform-style(preserve-3d);
      @include transition(All 1s 0s);

      li {
        position: absolute;
        width: 350px;
        height: 350px;
        left: 50%;
        top: 50%;
        margin-left: -175px;
        margin-top: -175px;
        @include transition(All 0.8s 0s);

        &:nth-of-type(1) {
          @include transform(translateX(-120px) translateY(0) translateZ(0) rotateX(0deg) rotateY(50deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1));

          img {
            position: absolute;
            width: 350px;
            height: 350px;
            left: 50%;
            top: 50%;
            margin-left: -175px;
            margin-top: -175px;
            @include transform-style(preserve-3d);
          }
        }
        &:nth-of-type(2) {
          @include transform(translateX(0px) translateY(0) translateZ(0) rotateX(0deg) rotateY(50deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1));

          img {
            position: absolute;
            width: 350px;
            height: 350px;
            left: 50%;
            top: 50%;
            margin-left: -175px;
            margin-top: -175px;
            @include animation(z 2s linear 0s infinite);
          }
        }
        &:nth-of-type(3) {
          @include transform(translateX(120px) translateY(0) translateZ(0) rotateX(0deg) rotateY(50deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1));

          img {
            position: absolute;
            width: 350px;
            height: 350px;
            left: 50%;
            top: 50%;
            margin-left: -175px;
            margin-top: -175px;
            @include animation(z 1s linear 0s infinite);
          }
        }
        &:nth-of-type(4) {
          @include transform(translateX(270px) translateY(0) translateZ(0) rotateX(0deg) rotateY(50deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1));

          img {
            position: absolute;
            width: 350px;
            height: 350px;
            left: 50%;
            top: 50%;
            margin-left: -175px;
            margin-top: -175px;
            @include animation(z 3s linear 0s infinite);
          }
        }
      }
    }
  }

  #track {
    position: absolute;
    width: 6000px;
    height: 1px;
    left: 50%;
    top: 50%;
    margin-left: -3000px;
    margin-top: -0.5px;
    background: #f6ff00;
    @include transform-style(preserve-3d);
    @include transition(All 0.6s 0s);
    @include transform(translateX(-1000px) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1));

    #line1 {
      position: absolute;
      width: 346px;
      height: 123px;
      left: 50%;
      top: 50%;
      margin-left: -173px;
      margin-top: -61.5px;
      @include transform-style(preserve-3d);
      @include transition(All 0.8s 0s);
      @include transform(translateX(1300px) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1));
    }
  }
}
*/

