<ul id="bg3">
  <div id="bgg3"></div>
</ul>
<div id="stage3">
  <div id="page3">
    <div class="glow">
      <img src="images/page3_glow.png" />
    </div>
    <div class="highway">
      <div class="tr">
        <div class="line">
          <img src="images/lineglow.png" />
        </div>
        <div class="line">
          <img src="images/lineglow.png" />
        </div>
      </div>
      <div class="tr">
        <div class="line">
          <img src="images/lineglow.png" />
        </div>
        <div class="line">
          <img src="images/lineglow.png" />
        </div>
      </div>
    </div>
    <div class="main">
      <ul>
        <li><img src="images/page4_main_storm.png" /></li>
        <li><img src="images/page4_main_sheild.png" /></li>
        <li><img src="images/page4_main_clock.png" /></li>
        <li><img src="images/page4_main_clockout.png" /></li>
        <li><img src="images/page4_main_xf.png" /></li>
      </ul>
    </div>
  </div>
</div>
