<ul id="bg2">
  <div id="bgg2"></div>
</ul>
<div id="stage2">
  <div id="page2">
    <div class="grow">
      <img src="images/page2_glow.png" />
    </div>
    <div class="glowlogo">
      <img src="images/page2_glowlogo.png" />
    </div>
    <div class="main">
      <ul>
        <li><span><img class="round" src="images/ttround.png" /></span></li>
        <li><span><img class="round" src="images/ttround.png" /></span></li>
        <li><span><img class="round" src="images/ttround.png" /></span></li>
      </ul>
    </div>
  </div>
</div>
