<div id="bg0">
  <div id="bgg0"></div>
</div>
<div id="stage0">
  <div id="page0">
    <div class="main">
      <img id="page0_glow" src="images/page0_glow.png" />
      <ul>
        <li></li>
        <li></li>
        <li><img width="577px" height="359px" src="images/better_title.png"></li>
        <li><img width="577px" height="359px" src="images/better.png"></li>
        <li><img width="577px" height="359px" src="images/page1_main_1new.png"></li>
        <li><img width="577px" height="359px" src="images/page1_main_2new.png"></li>
        <li><img width="577px" height="359px" src="images/page1_main_4.png"></li>
        <li></li>
        <div>
          <img src="images/ttround.png" />
        </div>
      </ul>
    </div>
  </div>
</div>
