<ul id="bg1">
  <div id="bgg1"></div>
</ul>
<div id="stage1">
  <div id="page1">
    <div class="glow">
      <img src="images/page1_glow.png" />
    </div>
    <div class="main">
      <ul>
        <li><img src="images/page2_main_1.png" /></li>
        <li><img src="images/page2_main_2.png" /></li>
        <li><img src="images/page2_main_3.png" /></li>
        <li><img src="images/page2_main_4.png" /></li>
      </ul>
    </div>
    <div id="track">
      <div id="line1">
        <img src="images/lineglow.png" />
      </div>
    </div>
  </div>
</div>
