<div id="sun-system-bg"></div>
<div id="sun-system">
  <div id="sun-system-wrap">
    <div class="main">
      <ul>
        <li><span><img class="round" src="images/ttround.png" /></span></li>
        <li><span><img class="round" src="images/ttround.png" /></span></li>
        <li><span><img class="round" src="images/ttround.png" /></span></li>
        <li><span><img class="round" src="images/ttround.png" /></span></li>
        <li><span><img class="round" src="images/ttround.png" /></span></li>
        <li><span><img class="round" src="images/ttround.png" /></span></li>
        <li><span><img class="round" src="images/ttround.png" /></span></li>
        <li><span><img class="round" src="images/ttround.png" /></span></li>
        <li><span><img class="round" src="images/sun.png" /></span></li>
      </ul>
    </div>
  </div>
</div>
